{% extends 'layout.html' %}

{% block head %}

<style type="text/css">
  body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
  }

  .form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
			box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
	margin-bottom: 10px;
  }
  .form-signin input[type="text"],
  .form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
  }

</style>

{% endblock %}

{% block container %} 

<form class="form-signin">
	<h2 class="form-signin-heading">企业管理人员登陆</h2>
	<input id="eid" type="text" class="input-block-level" placeholder="企业号">
	<input id="username" type="text" class="input-block-level" placeholder="工号">
	<input id="password" type="password" class="input-block-level" placeholder="密码">
	<label class="checkbox">
	  <input id="remember" type="checkbox" value="remember-me"> 记住我
	</label>
	<button class="btn btn-large btn-primary" type="submit">登录</button>
</form>

{% endblock %}

